<div class="page-header">
	<h1>Create New Study</h1>
</div>
<fieldset>
	<form class="form-horizontal">
		<fieldset>
			<div class="control-group ">
				<label for="identifier" class="control-label">Identifier</label>
				<div class="controls">
					<input type="text" id="identifier" value="" name="identifier">
				</div>
			</div>					
			<div class="control-group ">
				<label for="description" class="control-label">Description</label>
				<div class="controls">
					<input type="text" id="description" value="" name="description">
				</div>
			</div>
			<div class="form-actions">
				<button class="btn btn-primary" type="submit">
					Create
				</button>
				<a class="btn" href="/studies">Cancel</a>
			</div>
		</fieldset>
	</form>
</fieldset>