<div class="row-fluid">
	<div class="span2">
		<div class="well well-small">
        <ul class="nav nav-list">
          <li class="nav-header">Actions</li>
        </ul>
      </div>
	</div>
	<div class="span10">
		<div class="row-fluid" id="page-header-view"></div>
		<div class="row-fluid" id="summary-view"></div>
	</div>
</div>